@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jockey+One&family=Khand:wght@300;400;500;600;700&family=Questrial&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
.admin-header {
  background-color: #ECEBEB;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px; /* Increase height to accommodate the new header structure */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:  20px; /* Adjust padding for better spacing */
    padding-right:20px;
}

.burger-icon img, .user-icon img {
    margin-left: 30px;
    width:30px;
    height:30px;
    margin-right:20px;
    cursor: pointer;
}

.company-name {
  font-size: 2rem; /* Adjust font size as needed */
    font-weight: bold;
    color: #00668C;
    padding-left: 40px;
    font-family: "Khand";
    letter-spacing: 3px;
   flex-grow: 1; /* This will push the name to the left */
  text-align: left;
}

