@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jockey+One&family=Khand:wght@300;400;500;600;700&family=Questrial&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

.fixed-header {
    background-color: #D9D9D9;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px; /* Increase height to accommodate the new header structure */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:  20px; /* Adjust padding for better spacing */
    padding-right:20px;
  }
  
  .brand {
    font-size: 2.5rem; /* Adjust font size as needed */
    font-weight: bold;
    color: #00668C;
    padding-left: 40px;
    font-family: "Khand";
    letter-spacing: 3px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    position: relative;
    
  }
  
  .dropdown-btn {
    background-color: #A6A3A3;
    color: #333; /* Change color for better visibility */
    border: none;
    cursor: pointer;
    border-top-left-radius: 10px; /* Border radius for the top-left corner */
    border-bottom-left-radius: 10px; /* Border radius for the bottom-left corner */
    border-top-right-radius: 0; /* No border radius for the top-right corner */
    border-bottom-right-radius: 0;
    height:40px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 40px; /* Adjust top position */
    left: 0;
    background-color: #fff; /* Change background color for better visibility */
    min-width: 160px;
    z-index: 1;
    display: none;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .search-bar form {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    width: 400px;
    border: none;
    height:40px;
  }
  
  .search-btn {
    background-color: #A6A3A3;
    border: none;
    cursor: pointer;
    border-top-left-radius: 0; /* Border radius for the top-left corner */
    border-bottom-left-radius: 0; /* Border radius for the bottom-left corner */
    border-top-right-radius: 10px; /* No border radius for the top-right corner */
    border-bottom-right-radius: 10px;
    height:40px;
  }
  
  
  
  .fixed-section {
    background-color: #ECEBEB;
    top: 80px; /* Adjust top position */
    position: fixed;
    width: 100%;
    height: 40px;
    padding-left:20px;
    display: flex;
    align-items: center;
  }
  
  .main-content {
    padding: 20px;
    align-items: center;
    overflow: auto;
    display: flex;
    margin-top: 120px;
    flex-direction: column; 
  }
  
  h2 {
    color:#00668C; 
    margin-bottom: 40px;
    font-size: 2em;
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .search-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar input[type="text"] {
      width: 100%;
    }
  
    .icons {
      margin-top: 10px;
      order: -1; /* Move icons to the top on small screens */
    }
  }
  
  footer{
    color: #5d5d5d;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  
  }

  .icon{
    cursor: pointer;
    padding-right:20px;
  }

  .icons{
    display: flex;
    align-items: center
  }

  .cart-badge {
    position: absolute;
    top: -7px;
    right: 12px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
  }

 