.textservice{
    color: black;
    margin: 10px;
    text-align: justify;
    width: auto;
    font-size: 1em; 
}

.subtitlem{
    color:black;
    justify-self: flex-start;
}

h3{
    color:#00668C; 
    margin-bottom: 40px;
    font-size: 1.5em; 
    margin: 10px;
}

.mant{
    height: 200px;
}

.imagescontainer{
    margin: 30px;
}

.main-content-ser{
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    overflow: auto;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
}

.per{
    height: 520px;
    width: 350px;
}

.fill_the_service{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: #F5F4F1;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    width: 20rem;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mision-vision-sect{
    display: flex;
    flex-direction: row;
}

.side-mv{
    display: flex;
    flex-direction: column;
    align-items: center;
}