.display-card {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height:  auto; /* O un valor que funcione bien para tu diseño */
    width: 90%; /* Para que el ancho sea adaptable */
    max-width: 70rem;

    /* Animación inicial */
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Clase para la animación de aparición */
.display-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.display-image {
    width: 20rem;
    height: 30vh;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.display-image.right {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 0;
    margin-bottom: 10px;
}

.display-image.left {
    margin-top: 10px;
    margin-right: 70px;
    margin-bottom: 10px;
}

.display-content {
    margin-top: 20px;
    max-width: 60%;
    margin-bottom: 20px;
}

.display-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.display-content p {
    font-size: 1em;
    color: #555;
    text-align: justify; 
}

@media (max-width: 768px) {
    .display-card {
        flex-direction: column; /* Cambia la dirección a columna */
        padding: 15px;
        width: 100%;
    }

    .display-image {
        width: 100%; /* Imagen ocupa el ancho completo */
        height: auto; /* Ajusta la altura automáticamente */
        margin: 0 0 15px 0; /* Margen inferior para separar de contenido */
    }

    .display-image.left{
        margin-right: 0px;
    }

    .display-image.right{
        margin-left: 0px;
    }

    .display-content {
        max-width: 100%; /* Contenido ocupa el ancho completo */
        text-align: center; /* Centra el texto en pantalla pequeña */
        margin: 0; /* Elimina márgenes superior e inferior */
    }

    .display-content h2 {
        font-size: 1.3em; /* Reduce tamaño de la fuente */
    }

    .display-content p {
        font-size: 0.95em; /* Reduce tamaño de la fuente */
    }
}

/* Estilos para pantallas de 480px o menos (como teléfonos pequeños) */
@media (max-width: 480px) {
    .display-card {
        padding: 10px;
    }

    .display-content h2 {
        font-size: 1.1em;
    }

    .display-content p {
        font-size: 0.9em;
    }
}
