.large-card {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
  height: 60%;
  background-color: #f5f4f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  padding: 20px;
  margin-top: 20px;
  color: #000000;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Animaci칩n de opacidad y posici칩n */
  opacity: 0; /* Oculto por defecto */
  transform: translate(-50%, -50%) scale(0.95); /* Empieza m치s peque침o */
}

.large-card.slide-in {
  opacity: 1; /* Visible */
  transform: translate(-50%, -50%) scale(1); /* Escala normal */
}

.large-card.slide-out {
  opacity: 0; /* Oculto */
  transform: translate(-50%, -50%) scale(0.95); /* Escala reducida */
}

.large {
  width: 80%;
  height: 600px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.card-content {
  margin-top: 30px;
}

.left-section{
  display:flex;
  flex-direction: column;
  width:40%;
  text-align: center;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.image-maxcard{
  border-radius: 20px;
  margin: 0 auto;
  max-width: 250px;
  height: auto;
  border-bottom: 50px;
}

.price{
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  padding-top: 10px;
}

.right-section{
  display:flex;
  flex-direction: column;
  width:60%;
  text-align: center;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 40px;
  align-items: flex-end;
  justify-content: space-around;
 
}

.infobox{
  width: 500px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 20px;
}

.infobox::-webkit-scrollbar {
  width: 12px;/* Ancho de la scrollbar vertical */
}

.infobox::-webkit-scrollbar-track {
  background: #D9D9D9; /* Color del fondo de la pista */
  border-radius: 10px;
}

.infobox::-webkit-scrollbar-thumb {
  background: #00668C; /* Color del pulgar */
  border-radius: 10px;
  min-height: 30px;
}

.infobox::-webkit-scrollbar-thumb:hover {
  background: #00668C; /* Color del pulgar al pasar el mouse */
}

.info{
  color: black;
  font-size: 1em;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 5px;
  word-wrap: break-word; 
  max-width: 50ch;
  white-space: normal
}

.size-section{
  padding-top: 10px;
  width: 100%;
  text-align: left;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.selection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}

.select-size{
  list-style: none;
  color: black;
  border: 0.2px solid black;
  width: 100px;
  text-align: center;
  font-size: 1.1em;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  
}

.product-title{
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold;
  color: #00668C;
  padding-top: 10px;
}

.add-to-cart{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.cuantity-box{
  background-color: #ffffff;
  color:#000000;
  text-align: center;
  width: 150px;
  border-radius: 10px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  cursor: pointer;
}


.add{
  background-color: #00668C;
}

.imagecard{
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.brand2 {
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold;
  color: #00668C;
  padding-left: 40px;
  font-family: "Khand";
  letter-spacing: 3px;
}

.addq{
  background-color: #00668C;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 46px;
  font-weight: bolder;
}

.remove{
  background-color: #00668C;
  border-radius: 10px;
  height: 46px;
  font-weight: bolder;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.addq:hover{
  background-color: #008ec1;
}

.remove:hover{
  background-color: #008ec1;
}





