@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jockey+One&family=Khand:wght@300;400;500;600;700&family=Questrial&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the upper left */
  padding: 20px; /* Optional padding */
  margin-top: 80px;
  margin-left:40px;
  margin-right: 40px;
  width: -webkit-fill-available;
}  
  .search-bar {
    display: flex;
    align-items: center;
    height:40px;
    align-items: flex-end
  }
  
  .search-bar form {
    display: flex;
    align-items: center;
  }
.search-btn img {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
}  
  .search-bar input[type="text"] {
    color: #000000;
    width: 400px;
    border: none;
    height:40px;
  }
  
  .search-btn {
    background-color: #F3F3F4;
    border: none;
    cursor: pointer;
    border-top-left-radius: 0; /* Border radius for the top-left corner */
    border-bottom-left-radius: 0; /* Border radius for the bottom-left corner */
    border-top-right-radius: 5px; /* No border radius for the top-right corner */
    border-bottom-right-radius: 5px;
    height:40px;
    margin-top:20px;
  }

.searchbar {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    border: none;
    background-color:#F3F3F4;
    margin-top: 20px;
    height:40px;
    border-top-left-radius: 5px; /* No border radius for the top-right corner */
    border-bottom-left-radius: 5px;
    padding-left:10px;
}
.text {
    color:#00668C; 
    font-size: 2.5em;
    margin-bottom:0;
    font-family: "Khand";
    font-weight: bold;
  }

  .loadingcontainer{
    width: -webkit-fill-available;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
  }

  .table {
    width: 100%;
    margin-top: 45px;
    border: 1px solid #ddd;
    align-items: center;
  }
  
  .table-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
  }
  
  .table-header .MuiGrid-item {
    text-align: left;
    padding-left: 15px;
  }
  
  .table-row {
    padding: 10px 0;
    align-items: center;
    justify-items: center
  }
  
  
  .table-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    background-color: white;
  }
  
  .table-header {
    background-color: #f5f5f5;
    border-bottom: 2px solid #ddd;
  }

  .table2-header {
    background-color: #F5F5F5;
    border-bottom: 2px solid #ddd;
  }
  
  .table-row {
    border-bottom: 1px solid #ddd;
    background-color: white;
  }

  .table-text{
    color:#000000;
  }

  .more-edit{
    background-color: #00668C;
    width: 60%;
  }

  .more-edit:hover{
    background-color: #0182b1;
  }

  .modbar{
    width: 100%;
    display: flex;
    justify-content: space-between
  }

  .addbutton{
    background-color: #00668C;
  }

  .error-container{
    width: -webkit-fill-available;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between
  }

  .table2 {
    width: 80%;
    margin-top: 45px;
    border: 1px solid #ddd;
    align-items: center;
  }

  .table2-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px 0;
    text-align: center;
    align-items: center;
  }

  .state{
    border-radius: 10px;
    height: 2rem;
    width: 7rem;
    border-color: #F3F3F4;
    text-align: center;
  }

  .state.pendiente {
    background-color: #7d7d7d;
  }

  .state.procesando {
    background-color: #dfc51b;
  }

  .state.enviado {
    background-color: #db8e19;
  }

  .state.entregado {
    background-color: #1eb10b;
  }

  .state.cancelado {
    background-color: #990404;
  }

  .clients-tablespace{
    width: -webkit-fill-available;
    height: auto;
    display: flex;
    justify-content: center;
  }