.large-card {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  height:60%;
  background-color: #FFFEFB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  padding: 20px;
  margin-top: 20px;
}

.large {
  width: 80%;
  height: 600px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.card-content {
  margin-top: 30px;
}

.left-section{
  display:flex;
  flex-direction: column;
  width:40%;
  text-align: center;
  margin-left: 20px;
}

.image-maxcard{
  border: 10px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.price{
  color: black;
  font-size: 1.2em;
}

