.containerch {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Optional padding */
    margin-left:40px;
    margin-right: 40px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    margin-top: 60px; 
  }  

  .order-container {
    display: flex;
    width: 90%;
    height: 35em;
    border: 1px solid #333; /* Borde negro */
    background-color: #f2f2f2; /* Color de fondo gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Sección izquierda para detalles adicionales */
  .order-details {
    flex: 2;
    padding: 20px;
    overflow-y: auto;
  }
  
  /* Sección derecha para el resumen de la orden */
  .order-summary {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #333; /* Borde izquierdo */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }
  
  /* Título */
  h2 {
    margin-bottom: 20px;
  }
  
  /* Resumen de orden */
  .order-summary h3 {
    color: #006080; /* Color del título */
    margin-bottom: 10px;
  }
  
  .order-summary table {
    width: 100%;
  }
  
  .order-summary th, .order-summary td {
    text-align: center;
    padding: 8px 0;
  }
  
  /* Subtotal y botón */
  .subtotal {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    font-weight: bold;
    color: black;
  }
  
  .confirm-btn {
    display: flex;
    justify-content: flex-end;
  }
  
  .confirm-btn button {
    padding: 10px 20px;
    background-color: #006080; /* Color del botón */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .confirm-btn button:hover {
    background-color: #004d66; /* Color más oscuro al pasar el ratón */
  }

  tr {
    color: black;
    text-align: center;
  }

  table {
    text-align: center;
  }

  .summary{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
  }


.section {
  margin-top: 10px;
  padding: 10px;
  margin-left: 0px;
  width: 100%;
  text-align:left;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.forma-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.forma-group label {
  display: block;
  margin-right: 15px;
  text-align: center;
  margin-left:5px; 
}

.form-group label {
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 350px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  text-align: left;
}

.tarjeta-info {
  margin-top: 15px;
}

h3 {
  color: #4F4E4E;
  text-align:left;
}
