.client-page{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.client-info-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  align-items: center;
}

.user-info-container{
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  align-items: center;
}

.client-info-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group-cf {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 25rem;
}

.form-group-cf label {
  flex: 0.5;
  text-align: right;
  margin-right: 10px;
  color: #555;
}

.form-group-cf input {
  flex: 2;
  padding: 8px;
  border: 2px solid #acacac;
  background-color:rgba(255, 255, 255, 0.87);
  color: black;
  border-radius: 4px;
}

.button-container-cf {
  text-align: center;
  margin-top: 20px;
}

.button-container-cf button {
  padding: 10px 20px;
  background-color: #006080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container-cf button:hover {
  background-color: #004d66;
}

.form-unit-client{
  display: flex;
  flex-direction: column;
}

.button-section-2{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
