.filter-button2, .filter-dropdown-button {
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-size: 1rem;
  margin-left: 20px;
}

.filter-button2:hover, .filter-dropdown-button:hover {
  background-color: #0062cb;
}

.filter-sort-section2 {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  z-index: 10;
}

.filter-dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 10;
  min-width: 200px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
}

.filter-dropdown-content.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.sort-controls button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  background: none;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.sort-controls button:hover {
  background-color: #f1f1f1;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.filter-reset-btn {
  padding: 8px;
  border-radius: 4px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.filter-reset-btn:hover {
  background: #b64040;
}

.filter-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .filter-button2{
      padding: 8px 12px; /* Reduce el padding para pantallas medianas */
      font-size: 12px;   /* Ajusta el tamaño de la fuente */
      margin-left: 10px; /* Reduce el margen izquierdo */
  }
}

/* Media query para dispositivos móviles */
@media (max-width: 480px) {
  .filter-button {
      padding: 6px 10px; /* Aún más compacto para móviles */
      font-size: 13px;   /* Reduce el tamaño de fuente */
      margin-left: 5px;  /* Margen más pequeño */
  }
}