
@keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }

  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

/* App.css */
.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
  background-color: #ffffff;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 55px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  color: #00668C;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F4F1;
  border-radius: 10px;
  width: 500px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 2px solid #acacac;
  background-color:rgba(255, 255, 255, 0.87);
  padding-left: 8px;
  margin-bottom: 16px;
  font-size: 15px;
  color: black;
}

.inputButton {
  border: none;
  background:#00668C;;
  color: white;
  padding-bottom: 16px;
  margin: 8px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
}
#root {
  width: 100%;
}

.spacelogin{
  height: 75px;
}

.errorMessage{
  display: flex;
  flex-direction: row;
  color: #a30e0e;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #e11212;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #fedbdb;
  align-items: center;
  width: 370px;
  justify-content: center;
}

.registerLink {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.registerContainer{
  margin-top: 10px;
  color: black;
}

.toggleButton {
  position: relative;
  background: none; 
  border: none; 
  cursor: pointer; 
  font-size: 20px; 
  color: #555; 
  top: 12px;
  right: 15px;
}

.passwordInputBox {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: flex-start;
  background-color:rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  border: 2px solid #acacac;
  height: 48px;
  margin-bottom: 8px;
  
}

.passinputBox {
  height: 47px;
  width: 100%;
  font-size: large;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border: 1px solid rgb(211, 209, 209);
  background-color:rgba(255, 255, 255, 0.87);
  padding-left: 8px;
  padding-bottom: 0;
  font-size: 15px;
  color: black;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #acacac;
}

.inputError {
  border: 2px solid rgb(198, 0, 0);
}

@media (max-width: 768px) {
  .titleContainer {
    font-size: 2em;
  }

  .inputContainer {
    width: 90%;
  }

  .inputBox, .passinputBox, .passwordInputBox {
    font-size: 1em;
    height: 40px;
    width: 80%;
  }

  .inputButton {
    width: 100%;
  }
}


@media (max-width: 480px) {
  .titleContainer {
    font-size: 2em;
  }

  .inputBox{
    font-size: 1em;
    height: 40px;
    width: 80%;
    font-size: 0.9em;
  }

  .passwordInputBox{
    font-size: 1em;
    height: 40px;
    width: 82%;
    font-size: 0.9em;
  }

  .passinputBox{
    width: 100%;
    height: 39px;
  }

  .inputButton {
    font-size: 1em;
    width: 40%;
  }
  .toggleButton {
    top: 7px;
    right: 10px;
  }
  .registerContainer{
    font-size: 1em;
  }
  .errorMessage{
    width: 80%;
  }
  .spacelogin{
    height: 50px;
  }
}
