.main-content-prod{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    overflow: auto;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    width: 100%;
}