.forms{
    width: 43rem;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #F5F4F1;
}

.forms_input{
    width: 32rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.87);
    color: black;
    padding-left: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #acacac;
}

.forms_input2{
    padding-top: 10px;
    padding-right: 5px;
    width: 32rem;
    height: 7rem;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.87);
    color: black;
    padding-left: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #acacac;
    resize: none;
}

.personalinfo{
    width: 20rem;
    margin-left: 0;
    margin-right: 40px;
    margin-top: 0;
}

.sendforms{
   margin-top: 25px;
   margin-bottom: 20px;
}

.persoinfo{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 40px;
}

.inputsect{
    display: flex;
    color: black;
    flex-direction: column;
    margin-top: 25px;
}

.labelforms_ser{
    padding-left: 10px;
}

.labelforms_ser2{
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.labelforms_ser3{
    margin-bottom: 10px;
    font-weight: bold;
}

.optional_label{
    margin: 0;
    color: #838383;
    font-weight: 200;
    font-size: medium;
    padding-left: 10px;
}

.dropdown-forms{
    display: flex;
    margin-top: 25px;
    width: 38rem;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.dropdown-forms-select{
    height: 2.5rem;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.87);
    color: black;
    border: 2px solid #acacac;
    width: 12rem;
}

.upload_section{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file_name{
    background-color: #dedede;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.dropdown-forms-select::-webkit-scrollbar {
    width: 12px;/* Ancho de la scrollbar vertical */
}
  
.dropdown-forms-select::-webkit-scrollbar-track {
    background: #f2f2f2; /* Color del fondo de la pista */
    border-radius: 10px;
}
  
.dropdown-forms-select::-webkit-scrollbar-thumb {
    background: #00668C; /* Color del pulgar */
    border-radius: 10px;
    min-height: 30px;
}
  
.dropdown-forms-select::-webkit-scrollbar-thumb:hover {
    background: #00668C; /* Color del pulgar al pasar el mouse */
}

.dropdown-forms-select {
    max-height: 150px; /* Ajusta este valor según lo que necesites */
    overflow-y: auto;
}

.forms_input2::-webkit-scrollbar {
    width: 12px;/* Ancho de la scrollbar vertical */
}
  
.forms_input2::-webkit-scrollbar-track {
    background: #f2f2f2; /* Color del fondo de la pista */
    border-radius: 10px;
}
  
.forms_input2::-webkit-scrollbar-thumb {
    background: #00668C; /* Color del pulgar */
    border-radius: 10px;
    min-height: 30px;
}
  
.forms_input2::-webkit-scrollbar-thumb:hover {
    background: #00668C; /* Color del pulgar al pasar el mouse */
}

.dropdown-forms-select {
    max-height: 150px; /* Ajusta este valor según lo que necesites */
    overflow-y: auto;
}

